.article {
  position: relative;

  &__thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 42px;
  }

  &__date {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 20px;
    color: #999999;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  &__read-more {
    color: #999999;

    font-weight: 500;
    i {
      margin-left: 10px;
    }
  }

  &:hover {
    .article__read-more {
      color: $primary-darken;
    }
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
