.footer {
  padding-top: 310px;
  padding-bottom: 100px;
  @extend %background-image;
  background-image: url("../images/hero_bg.png");
  $angle: 3deg;
  color: #fefefe;
  font-size: 14px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 160px solid transparent;
    border-right: 100vw solid $white;
  }

  &__logo {
    color: $white;
    font-size: 34px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-bottom: 54px;
    display: inline-block;
  }

  &__descr {
    margin-bottom: 15px;
  }

  &__address {
    margin-bottom: 15px;
  }

  &__article {
    position: relative;
    border-bottom: 1px solid rgba($white, 0.8);
    margin-bottom: 15px;

    &--last {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  &__article-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__article-date {
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__article-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 24px;
    line-height: 1;
    margin-top: 5px;
    margin-bottom: 54px;
    font-weight: 700;
    color: $white;
  }

  &__useful-links {
    @extend %reset-list;
    flex-direction: column;
    i {
      margin-right: 10px;
    }

    li {
      margin-bottom: 10px;
    }
  }

  &__tweet {
    position: relative;
    padding-bottom: 35px;
    border-bottom: 1px solid rgba($white, 0.8);

    &--last {
      padding-top: 20px;
      border-bottom: none;
    }
  }

  &__tweet-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__tweet-date {
    i {
      margin-right: 5px;
    }
  }

  &__tweet-author {
    color: $white;
    font-weight: 700;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 160px + 20px;
    padding-bottom: 20px;
  }
}
