.header {
  position: relative;
  z-index: 2;
  height: 200px;
  line-height: 1;
  $parent: &;
  color: $white;
  border-bottom: 1px solid rgba($white, 0.1);

  &,
  & > .container {
    display: flex;
    align-items: center;
  }

  &__toggle {
    margin-left: auto;
    display: none;
    @media screen and (max-width: 1200px) {
      display: block;
    }
  }

  &__logo {
    font-size: 34px;
    font-weight: 700;
    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }

  &__buttons {
    margin-left: 16x;
    display: flex;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__menu {
    font-size: 15px;
    align-items: center;
    margin-left: auto;
    flex-direction: row;
    transition: transform 0.3s ease-out;
    .menu__item {
      a {
        display: block;
        padding: 9px 22px;
        border-radius: 100px;
      }

      &--active a {
        background-color: $white;
        color: $primary;
      }
    }

    @media screen and (max-width: 1200px) {
      transform: translateX(100%);
      overflow-y: auto;
      position: fixed;
      top: 64px;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px 20px;
      align-items: stretch;
      flex-direction: column;
      background-color: $primary;
      z-index: 99999;
      margin-right: 0;
      .menu__item {
        a {
          padding: 20px;
        }
      }
    }
  }

  &__button {
    padding: 23px 37px;
    font-weight: 700;
    border-radius: 100px;
    display: inline-block;

    &:hover {
      color: inherit;
    }

    &--active {
      color: $primary;
      background-color: $white;
      &:hover {
        color: $primary-darken;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    height: 64px;
  }
}

.mobile-menu-is-shown {
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    .header__menu {
      transform: translateX(0);
    }

    .header__buttons {
      margin-top: auto;
      margin-left: 0;
      text-align: center;
      .button {
        display: inline-block;
      }
    }
  }
}
