.mobile-menu {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $white;
  color: $body-color;
  padding: 40px 40px;

  &__close {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
  }

  &__list {
    margin-top: 20px;
    @extend %reset-list;
    flex-direction: column;
  }

  &__list-item {
    margin-bottom: 20px;
  }
}

.mobile-menu-is-shown {
  overflow: hidden;

  &::before {
    display: block;
  }
  .mobile-menu {
    display: block;
  }
}
