.hero-slider {
  color: $white;
  position: relative;
  height: 550px + 5px;
  margin-bottom: 125px;
  &__heading {
    line-height: 1.56;
    font-size: 88px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 64px;

    @include media-breakpoint-down(md) {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }
  &__item {
  }
  &__inner {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
  }

  &__top-heading {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 36px;
  }

  &__bottom-heading {
    font-size: 18px;
  }

  .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.testimonials-slider {
  position: relative;
  height: 440px;
  &__quote {
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
    color: $white;
    margin-bottom: 50px;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &__author {
    flex: 0 0 auto;
    flex-shrink: 0;
    color: rgba($white, 0.7);
    font-size: 18px;
  }

  &__quote,
  &__author {
    max-width: 100%;
    flex-shrink: 0;
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item {
    height: 440px;
    background-image: linear-gradient(90deg, rgb(147, 75, 255) 0%, rgb(95, 58, 252) 100%);
  }

  .slick-dots {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }
}

.slick-dots {
  display: inline-flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  li {
    display: inline-block;
    line-height: 0;
    padding: 0;
    margin-right: 15px;
  }

  button {
    outline: none;
    display: block;
    line-height: 0;
    font-size: 0;
    padding: 0;
    border: none;
    width: 35px;
    height: 5px;
    background-color: $primary-darken;
    border-radius: 3px;
  }

  .slick-active button {
    background-color: $white;
  }
}
