.projects-tabs {
  font-size: 16px;
  border-bottom: none;
  margin-top: 42px;
  $parent: &;
  &__link,
  .nav-link {
    border: none;
    padding: 17px 50px;
    border-radius: 100px;
    color: #c7c7c7;
    &.active {
      color: $white !important;
      background-color: $primary-darken;
      box-shadow: 0px 6px 24px 0px rgba(116, 65, 253, 0.5);
    }
  }

  &__item,
  .nav-item {
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 20px;

    #{$parent}__item {
    }
  }
}
