$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px
);

$h1-font-size: 3.75rem;
$h2-font-size: 2.1875rem;
$h3-font-size: 1.875rem;
$h4-font-size: 0.875rem;

$headings-font-weight: 400;
$headings-line-height: 1.4;

$orange: #fc6a42;
$pink: #f5989d;
$purple: #615f7d;
$purple-light: #bd8cbf;
$green: #82ca9c;
$white: #fff;

$primary: #6f3ffd;
$primary-darken: #663cfc;

$font-size-base: 0.9375rem;
$line-height-base: 1.75;

$header-color: #e1e1e1;
$text-muted: #67676d;
$body-color: #222626;
$yellow-light: #fcec64;

$footer-bg: #192431;
$footer-color: #f6f7fa;
$footer-color-info: #57697f;
$font-family-base: "Roboto", sans-serif;

$toggle-height: 20px;
$toggle-width: 30px;
$toggle-padding: 3px;
$toggle-inner-height: 2px;
$toggle-bg: transparent;
$toggle-color: $white;