.video {
  &__heading-top {
    font-size: 16px;
    margin-bottom: 25px;
  }

  &__heading {
    font-size: 46px;
    margin-bottom: 75px;
    line-height: 1.6;
  }

  &__counter {
    margin-bottom: 20px;
  }

  &__counter-value {
    line-height: 1;
    font-size: 63px;
    font-weight: 700;
    margin-bottom: 25px;

    @include media-breakpoint-down(sm) {
      font-size: 40px;
    }
  }

  &__counter-label {
    font-size: 16px;
    font-weight: 700;
  }

  &__btn-container {
    padding-bottom: 20px;
  }

  &__play-btn {
    cursor: pointer;
    transition: transform 0.25s linear;

    @extend %background-image;
    background-image: url("../images/play-button.png");
    background-size: 100px 100px;
    border-radius: 50%;

    width: 166px;
    height: 166px;
    border: 1px solid rgba($white, 0.8);

    &:hover {
      transform: scale(1.05);
    }
  }
}

.modal--video {
  height: 100vh;
  .modal-dialog {
    width: 100%;
    max-width: 100%;
    height: 100%;

    margin: 0 auto;

    padding: 30px;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  .modal-content {
    background-color: transparent;
    border: none;
  }

  .modal-body {
    padding: 0;
    background-color: transparent;
  }
}
